@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');
@import './photos_container.css';
@import './header.css';
@import './categorie-filter.css';
@import './modal.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #fffffe;
}